.account {
	@include make-grid-row(1);

	@include media-breakpoint-up(md) {
		display: grid;
		grid-template-columns: 1.25fr 3fr;
	}

	@include media-breakpoint-up(lg) {
		grid-template-columns: 1fr 3fr;
	}

	.button {
		@extend .btn;
		@extend .btn--primary;
	}

	&__nav {
		background-color: lighten($primary, 80%);
		font-family: $font-family-sans-serif;

		h4 {
			padding: 1.5rem 1rem .5rem 1rem;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		li {

			&.is-active {
				background-color: lighten($secondary, 40%);
			}

			@include hover-focus() {
				@extend .is-active;
			}

			a {
				padding: .75rem 1rem;
				display: block;
			}
		}
	}
}
