.callout {
  padding: 2rem 0;

  &__row {
      @include make-grid-row();
  }

  &__col-text {
    text-align: center;

    *:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      @include make-grid-col(6);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }
  }

  &__col-img {

    @include media-breakpoint-up(lg) {
      @include make-grid-col(6);
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
}
